.header {
    padding: 60px;
    text-align: center;
    background:RGB(247, 202, 201);
    color: white;
    font-size: 30px;
    

    }

.evelina {
    font-size: 40px;


    }

    a:link {
        color:#181818;
      }
      
      a:visited {
        color: #181818;
      }

   .fotograf {
      
    font-size: 25px;

    }